.cssFonts {
    font-family: 'Courier New', Courier, monospace;
    font-size: 33px; /* 1px = 1/96inch */
    font-weight: bold;
    font-style: oblique;
    font-variant: small-caps;
    line-height: 1.3em;
}

.cssColors {
    color: red;
    background-color: blueviolet;
}

.bordersAndBackgrounds {
    background-color: red;
    height: 30px;
    width: 50px;
    border-width: 4px;
    border-color: green;
    border-style: solid;
    border-radius: 3px;

    /* border: 4px solid green */

    border-top: 2px solid orange;
    border-right: 2px solid rgb(35, 148, 163);
    border-left: 2px solid rgb(54, 129, 18);
    border-bottom: 2px solid rgb(112, 99, 76);

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.image {
    height: 500px;
    width: 100px;
    background-image: none;
    border: 10px solid rgb(142, 88, 196);
    background-repeat: no-repeat;
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-position: center center;
    /* background-position: top center; */
    /* background-position: bottom right; */
}

.padding {
    /* padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 50px;
    padding-left: 60px; */

    padding: 30px 40px 50px 60px; /* top right bottom left */
}

.margin {
    /* margin-top: 30px;
    margin-right: 40px;
    margin-bottom: 50px;
    margin-left: 60px; */

    margin: 30px 40px 50px 60px; /* top right bottom left */

    /* margin: auto;   :- It will be horizontally centered because it has margin: auto; */
}

* {
    box-sizing: border-box;  /* This causes the element to maintain its width; if you 
    increase the padding, the available content space will decrease. */
}

.floatAndClear {
    /* The float property is used for positioning and formatting content 
    e.g. let an image float left to the text in a container. */
    float: left;
    float: right;
    float: none;

    /* The clear property specifies what elements can float beside the cleared element
     and on which side. */
    clear: left;
    clear: right;
    clear: both;

    /* If an element is taller than the element containing it, and it is floated, 
    it will "overflow" outside of its container */
    overflow: auto;
}

/* a is link */
.a {
    text-decoration: none;
    color: black;

}

a:hover {
    color: rgb(116, 72, 14);
}

a:visited {
    background-color: red;
}

a:active{
    background-color: yellow;
}


.display {
    display: block;
    display: inline;
    display: inline-block;
}

.position {
    position: static;
    position: relative;
    position: absolute;
    position: fixed;
    position: sticky;
}












/* YAHOO BABA */




                /* Topic :- Descendant Selector */

#header a{
    color: red;
}

.list p{
    color: red;
}

ul#menu li{
    color: red;
}





                /* Topic :- Border Shorthand */

/* border: 2px solid green;
border: 2px dashed red; */





                /* Topic :- Outline Shorthand */

/* An outline is a line that is drawn around elements, OUTSIDE the borders, to make the element "stand out". */
/* outline: 2px solid green; */

/* The outline-offset property adds space between an outline and the edge/border of an element.The space between an element and its outline is transparent*/
/* outline-offset: 5px; */





                /* Topic :- Height and Width */

/* height	:- Sets the height of an element
max-height	:- Sets the maximum height of an element
max-width	:- Sets the maximum width of an element
min-height	:- Sets the minimum height of an element
min-width	:- Sets the minimum width of an element
width	    :- Sets the width of an element */





                /* Overflow */

/* The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area.

The overflow property has the following values:

visible - Default. The overflow is not clipped. The content renders outside the element's box
hidden - The overflow is clipped, and the rest of the content will be invisible
scroll - The overflow is clipped, and a scrollbar is added to see the rest of the content
auto - Similar to scroll, but it adds scrollbars only when necessary */

/* Note: The overflow property only works for block elements with a specified height. */





                /* CSS Shadows */

/* box-shadow	Adds one or more shadows to an element
   text-shadow	Adds one or more shadows to a text */

/* box-shadow: 2px 2px 5px 10px orange;     {horizontal offset(y-axis), vertical offset(x-axis), blur, spread, colour} */
/* box-shadow: 2px 2px 5px 10px orange, 4px 4px 5px 10px red, 6px 6px 5px 10px red;   {multiple shadows} */
/* box-shadow: 2px 2px 5px 10px orange inset;   {inset is used to make shadow inside box} */





                /* CSS Text */

.text {
    text-align: center;
    text-transform: uppercase;
    text-align-last: right;
    text-indent: 50px;
    word-spacing: 10px;
    letter-spacing: 4px;

    /* Text Decoration  */

    text-decoration-line: underline;
    text-decoration-color: red;
    text-decoration-style: wavy;  /* solid default */

    text-decoration: underline red solid;   /* text decoration shorthand */
}