/* CSS Reset  */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Logo and Image */
#logo {
    margin: 10px 20px;
}

#logo img {
    height: 60px;
    margin: 3px 10px;
}

/* Navigation Bar: List Styling */
#navbar ul {
    display: flex;  
    font-family: 'Mulish', sans-serif;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    font-weight: bold;
    display: block;
    padding: 3px 20px;
    border-radius: 15px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

/* Home Section  */
#home {
    display: flex;
    flex-direction: column;
    height: 578px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

#home::before {
    content: "";
    background: url("../img/bg.jpg") no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#home h1 {
    color: white;
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Mulish', sans-serif;
}

/* Services Section  */
#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 25px;
    border-radius: 25px;
    background-color: #f6eeee;
}

#services .box:hover {
    transform: skew(5deg);
}

#services .box img {
    height: 130px;
    display: block;
    margin: auto;
}

/* Clients Section  */
#client-section {
    position: relative;
}

#client-section::before {
    content: "";
    position: absolute;
    background: url("../img/bg2.jpg");
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item {
    padding: 34px;
}

#clients img {
    height: 124px;
}

/* Contact Section  */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url("../img/contact.jpg") no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box label {
    font-size: 1.5rem;
}

#contact-box form {
    width: 40%;
}

#contact-box input, #contact-box textarea {
    width: 100%;
    padding: 0.3rem;
    font-size: 1.3rem;
    border-radius: 10px;
}

/* Footer Section  */
footer {
    background-color: black;
    color: whitesmoke;
    padding: 6px 25px;
}

/* Utility Classes */
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.1rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 10px;
    margin: 17px;
    color: white;
    background-color: brown;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(177, 43, 43);
}

.center {
    text-align: center;
}

